@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

:root {
  --backgroundColor: #000;
  --textColor: #9297AB;
  --greyMode: #2E2E2E;
  --white: #FFF;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--textColor);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px 21px;
  position: relative;
  background: var(--backgroundColor);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.protestersImage {
  width: 100%;
  height: 250px;
  border-radius: 7px;
}

.header {
  background: var(--greyMode);
  width: auto;
  padding: 10px 15px;
  width: 100px;
  border-radius: 41px;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}

span {
  line-height: 17px;
}

.endsars {
  display: flex;
  align-items: center;
}

.endsars h3 {
  text-transform: uppercase;
}

.endsars img {
  width: 23.86px;
  height: 22px;
  margin-left: 10px;
}

.countUp {
  font-size: 30px;
  line-height: 36px;
  margin: 0
}

p {
  font-size: 20px;
  line-height: 24px;
}

@media (min-width:48em) {
  .container {
    flex-direction: row-reverse;
  }

  aside, aside img {
    height: 100% !important;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
  }

  .endsars h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  .endsars img {
    width: 23.86px;
    height: 22px;
    margin-left: 10px;
  }

  p {
    margin-top: 0;
  }
}
